{% block ezmatrix_field %}
    {% set columnsSettings = content.contentType.fieldDefinitionsByIdentifier[field.fieldDefIdentifier].fieldSettings['columns'] %}
    {% set fieldData = field.value.data.entries %}

    <table class="ez-table table">
        <thead>
            <tr>
                {% for column in columnsSettings %}
                    <th>{{ column['name'] }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for data in fieldData %}
        <tr>
            {% for column in columnsSettings %}
                <td>{{ data[column['identifier']]|default }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}