services:
    _defaults:
        autoconfigure: true
        autowire: true
        public: false

    EzSystems\EzPlatformMatrixFieldtypeBundle\Command\MigrateLegacyMatrixCommand:
        arguments:
            - "@ezpublish.persistence.connection"
        tags:
            - { name: console.command }
